/node_modules
/public/hot
/public/storage
/public/signatures/client/*
/public/signatures/empleoye/*
/public/signatures/install/*
/public/uploads/*
/public/docs/*
/public/plantilla/*
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
*.7z

.htaccess
/app_reserve
.well-known/*
/storage/framework/laravel-excel/*
app_new.rar
.user.ini